@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Nunito:wght@300&family=Pompiere&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pompiere", cursive;
}

.header {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  color: white;
}
.header__hero-container {
  padding-top: 5px;
}
.title-header {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 4px;
  text-align: center;
}

.title-header-segundo {
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

.header__image-container {
  width: auto;
  height: auto;
  text-align: center;
  overflow: hidden;
}

.image_principal {
  width: 100%;
}

.hero__container {
  margin: 30px 30px;
}

.hero__parrafo {
  margin: 20px 0 40px 0;
  font-size: 20px;
}

/* -------contactos------- */

.hero__contacto {
  margin: 40px 0;
}

.hero__contacto h2 {
  margin: 30px 0;
}

.hero__contacto-content {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.hero__contacto-content img {
  width: 20px;
}

.hero__contacto-content h3 {
  text-align: center;
  margin-left: 15px;
}

/* -------footer-------------- */
.container_footer h2 {
  margin: 30px 0;
}

.container_footer ul {
  padding-left: 20px;
}

.container_footer ul li {
  padding-left: 10px;
  font-size: 20px;
}
